<h1><%= link_to article.title, article_path(article) %></h1>
<p>
  <% if article.author.present? %>
  Written by <%= link_to article.author.username, author_path(article.author_id), class: "article-listing" %>
  <% end %>
</p>
<% if article.image.exists? %>
  <p><%= image_tag article.image.url %></p>
<% end %>
<p class="article-body">
  <%= article.body %>
</p>
<hr>
<div class="article-footer">
  <p class = "time-stamp">
    <%= article.created_at %>
  </p>
  <p>
    Tags:
    <% article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag), class: "tag"%>
    <% end %>
  </p>
</div>
